@font-face {
  font-family: 'IndieFlower-Regular';
  src: local('IndieFlower-Regular'),
    url(./fonts/IndieFlower-Regular.ttf) format('truetype');
}

.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('./assets/background.jpeg') no-repeat center;
  background-size: contain;
  color: rgb(32, 32, 151);
  font-family: IndieFlower-Regular, Arial, serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.app-container {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 90vh;
  width: 500px;
  margin: 2.6rem;
  border-radius: 10%;
  background: transparent;
}

.form-div {
  display: flex;
  height: 50px;
  width: 300px;
  margin: 2rem;
}

.form-div button {
  background: transparent;
  border: none;
}

.form-div form {
  display: flex;
}

form {
  width: 100%;
}

form input[type='text' i] {
  width: 100%;
  height: 46px;
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  color: rgb(32, 32, 151);
}

form input[type='text' i]::placeholder {
  color: rgb(32, 32, 151);
}

.todo-list {
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 400px;
}

.single-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  margin: 0.5rem 0;
  height: 50px;
  width: 100%;
}

.single-todo p {
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

.single-todo button {
  justify-self: flex-end;
}

.single-todo form {
  display: flex;
  justify-content: space-between;
}

.single-todo button {
  border: none;
  background: transparent;
}

.buttons-group {
  margin: 1rem;
}

.fa-pencil-alt {
  margin-right: 1rem;
}

i {
  cursor: pointer;
  font-size: 1.5rem;
}

.fa-trash-alt {
  color: rgb(216, 29, 29);
}

.fa-plus-circle {
  font-size: 2.5rem;
  color: rgb(5, 116, 5);
}

.completed {
  text-decoration: line-through;
}
