.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  text-align: center;
}

img {
  width: 350px;
  height: 350px;
}

button {
  margin-top: 1rem;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
}
