.App {
  background: black;
  height: 100vh;
}

.deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deck button {
  margin: 5rem;
  width: 150px;
  height: 50px;
  border: none;
  background: rgba(11, 87, 11, 1);
  color: white;
  cursor: pointer;
}

.deck button:hover {
  background: rgba(11, 87, 11, 0.9);
}

.deck-row {
  width: 100vw;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
